[submodule "getting_familiar"]
	path = getting_familiar
	url = https://github.com/lianilychee/getting_familiar.git
[submodule "in_class_day03"]
	path = in_class_day03
	url = https://github.com/iangmhill/in_class_day03.git
[submodule "in_class_day04"]
	path = in_class_day04
	url = https://github.com/lianilychee/in_class_day04.git
[submodule "warmup_project"]
	path = warmup_project
	url = https://github.com/lianilychee/warmup_project.git
